# NLP: Predicting Upvotes Based on Headline
## Introduction
Hacker News is a community where users can submit articles, and other users can upvote those articles. The articles with the most upvotes make it to the front page, where they're more visible to the community.
## Goal
In this project, I'll be predicting the number of upvotes articles received, based on their headlines. Because upvotes are an indicator of popularity, I'll discover which types of articles tend to be the most popular.
## Data

The data set consists of submissions users made to Hacker News from 2006 to 2015. Developer Arnaud Drizard used the Hacker News API to scrape the data, which can be found in one of his [GitHub repositories](https://github.com/arnauddri/hn).

* `submission_time` - When the article was submitted
* `upvotes` - The number of upvotes the article received
* `url` - The base URL of the article
* `headline` - The article's headline

In [48]:
import pandas as pd
import numpy as np

data = pd.read_csv("submissions.csv")
data.columns = ["submission_time", "upvotes", "url", "headline"]
data = data.dropna()
data.head()

,submission_time,upvotes,url,headline
0,2015-01-05T16:20:01.000Z,1,medium.com,Safe Conferences Are Deliberately Designed
1,2012-03-27T15:23:57Z,1,nikefreerun2shoesuk.com,Nike Free 7.0 V2 Men's Shoes In Black / Gray /...
2,2012-10-29T22:52:24Z,3,neillcorlett.com,y Own HTTP Daemon - Simple daemon in Linux x86...
3,2011-08-25T07:21:44Z,1,meetlipsticklesbians.com,emory card xbox 360
4,2011-01-09T09:59:34Z,2,arstechnica.com,OWC launching SandForce-based SSDs for latest ...

In [49]:
data.shape

(363967, 4)

This dataset is pretty large, I'm going to shuffle the rows of the data frame and use a quarter of the data for this project.

In [70]:
np.random.seed(2)
shuffled_index = np.random.permutation(data.index)
data = data.reindex(shuffled_index)

In [90]:
submissions = data.iloc[:6000]

### Data Preparation
My goal is to train a linear regression algorithm that predicts the number of upvotes a headline would receive. To do this, I'll need to convert each headline to a numerical representation. I will be using the 'bag of words' model, which represents each piece of text as a numerical vector.

In [91]:
tokenized_headlines = []
for item in submissions['headline']:
    tokenized_headlines.append(item.split())

#preview the data  
print(tokenized_headlines[0:5])

[['You', "don't", 'need', 'millions', 'of', 'dollars'], ['Ricky', 'Yean', 'Of', 'Crowdbooster', 'On', 'Bringing', 'Value', 'As', 'A', 'CEO', 'And', 'Customer', 'Development'], ['Activision', 'shows', 'off', 'next-gen', 'facial', 'rendering'], ['ail', 'security', 'tips'], ['Two', 'Sites', 'to', 'Create', 'Dummy', 'Images']]

Now that I have my tokens, I know they will need some processing to help with making predictions later on. I will need to get rid of punctuation, and make all words lowercase for consistency.

In [92]:
punctuation = [",", ":", ";", ".", "'", '"', "’", "?", "/", 
               "-", "+", "&", "(", ")"]
clean_tokenized = []

for item in tokenized_headlines:
    tokens = []
    for token in item:
        token = token.lower()
        for punc in punctuation:
            token = token.replace(punc, "")
        tokens.append(token)
    clean_tokenized.append(tokens)

Now I will retrieve all unique words from each headline, create a matrix, and assign those words as column headers. After, I will populate the matrix with the number of token occurences.

In [93]:
unique_tokens = {}
for tokens in clean_tokenized:
    for token in tokens:
        if token in unique_tokens:
            unique_tokens[token] += 1
        elif token not in unique_tokens:
            unique_tokens[token] = 1

In [ ]:
stops = []
for key in unique_tokens.keys():
    if len(key) <

In [94]:
cols = unique_tokens.keys()

In [95]:
counts = pd.DataFrame(0, index=np.arange(len(clean_tokenized)), columns=cols)
counts.head()

,you,dont,need,millions,of,dollars,ricky,yean,crowdbooster,on,...,overwatch,multiplayer,httpaddthiscombookmarkphpv=250username=xa4d2b47597ad291fb,penguin,nonprofits,bangor,pfg,mf,stain,extax
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0